/* Parti generali */

body, html {
	background-color: #ffd012;
	font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}

p {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: justify;
	text-indent: 2em;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	text-align: center;
	color: red;
}

h2 {
	margin-top: 2em;
	text-transform: capitalize;
	letter-spacing: 0.5em;
	text-align: center;
	color: red;
}

/* Parti del layout */
div#container {
	background-color: #1ebeff;
	width: 960px;
	margin: 0 auto;
	text-align: left;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

div#welcomeTitle {
}


div#siteDescription {
	float: left;
	width: 500px;
	text-align: center;
	background-color: #5ca9ff;
}

div#login {
	text-align: right;
	background-color: #000cff;
	float: right;
}

div#header {
	text-align: center;
}

div#user_control {
	border-width: 1px;
	border-color: #ff0600;
	border-style: solid;
	background-color: #6fafff;
	text-align: left;
	clear: both;
}

div#navigation {
	padding-left: 0.5em;
	border-right-width: 0.1em;
	border-right-color: black;
	border-right-style: solid;
	float:left;
	width: 13em;
	color: red;
}

div#vnav {
}



div#content {
	margin-left: 13em;
	padding: 1em;

}

div#footer {
	clear: both;
	text-align:center;
	padding: 0.5em;
}

ul#show {
	display: block;
}

ul#hide {
	display: none;
}

div#errori {
	padding-left: 3em;
	text-align: left;
	color: red;
}

div#userInfo {
	background-color: #0a04ff;
}

div#userInfo img {
	border-color: red;
	border-style: solid;
	border-width: 1px;
	margin: 0.3em;
	list-style-position: outside;
	height: 80px;
	width: 80px;
}

div#userInfo #username {
	clear: right;
	color: #ff0c00;
}

