/* Parti generali */

body, html {
	background-image: url(../images/sfondo.jpg);
	font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}

p {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: justify;
	text-indent: 2em;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	text-align: center;
	color: red;
}

h2 {
	text-transform: capitalize;
	letter-spacing: 0.5em;
	text-align: center;
	color: red;
}

/* Parti del layout */
div#container {
	width: 960px;
	min-width: 960px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	background-color: #1ebeff;
	text-align: left;
    border-left: solid red;
    border-right: solid red;
}

div#welcomeTitle {
}


div#siteDescription {
	float: left;
	width: 500px;
	text-align: center;
	background-color: #5ca9ff;
}

div#login {
	text-align: right;
	background-color: #000cff;
	float: right;
}

div#header {
	text-align: center;
}

#user_control {
	padding-bottom: 5px;
	padding-top: 5px;
	border-width: 1px;
	border-color: #ff0600;
	border-style: solid;
	background-color: #6fafff;
	text-align: left;
	clear: both;
}

div#user_control #comando{
	margin-left: 10px;
	display: inline;
}

div#navigation {
	border-right-color: #ff0300;
	padding-left: 0.5em;
	border-right-width: 0.1em;
	border-right-style: solid;
	float:left;
	width: 13em;
	color: red;
}

div#vnav {
}



div#content {
	margin-left: 13em;
	padding: 1em;

}

div#footer {
	font-size: 0.7em;
	width: 100%;
	clear: both;
	text-align:center;
	padding: 0.5em;
}

ul#show {
	display: block;
}

ul#hide {
	display: none;
}

div#errori {
	padding-left: 3em;
	text-align: left;
	color: red;
}

#comando{
	margin: 3px;
}

div#userInfo {
	margin-top: 3px;
	min-height: 90px;
	border-style: solid;
	border-color: #7492c3;
	background-color: #9fc8ff;
}

#datiUtente{
	max-width: 620px;
}

#userInfo img {
	float: left;
	border-color: red;
	border-style: solid;
	border-width: 1px;
	margin: 0.3em;
	list-style-position: outside;
}

div#userInfo #username {
	font-weight: bold;
	color: #ff0c00;
}

div#userInfo #nome{
	display: inline;
	float: left;
}

div#userInfo #cognome{
	display: inline;
}

#userInfo #comandiAmico img{
	float: right;
	margin-top: 23px;
	border-style: none;
	display: marker;
}

#elencoUtenti{
	width: 720px;
}

table{
	background-color: #edff5a;
	min-width: 720px;
	width: 720px;
	border-width: 2px;
	border-style: solid;
	border-color: #ff0600;
	border-collapse: separate;
	max-width: 720px;
}

td{
	border-width: 1px;
	border-style: solid;
	border-color: red;
}

#intRisultati{
	margin-bottom: 2px;
	padding: 3px;
	border-width: 2px;
	border-style: outset;
}

#controlliSerie, #controlliFumetti{
	text-align: center;
	border-style: dashed;
	border-color: red;
	margin: 0.3em;
	padding: 0.3em;
	background-color: #b5ceff;
}

#serieInfo{
	margin-top: 3px;
	text-align: right;
	background-color: #e6cb00;
	width: 702px;
	border-style: outset;
	padding: 3px;
}

#serieInfo #nomeSerie{
	text-align: left;
	margin-right: 3px;
	border-width: 3px;
	color: #ff0006;
	text-shadow: 0px 0px;
	font-size: 30px;
	float: left;
}

#fumetto{
	height: 188px;
	margin-top: 3px;
	border-style: solid;
	border-color: #7492c3;
	background-color: #9fc8ff;
}

#fumettoLetto{
	border-color: #3dbe35;
	background-color: #afffb4;
	height: 188px;
	margin-top: 3px;
	border-style: solid;
}

#fumetto img, #fumettoLetto img{
	float: left;
	border-color: red;
	border-style: solid;
	border-width: 1px;
	margin: 3px;
	list-style-position: outside;
}

#fumetto #volume, #fumettoLetto #volume{
	color: #ff0900;
	font-size: 20px;
	font-weight: bold;
}

#fumetto #nome, #fumettoLetto #nome{
	font-size: 18px;
}

#fumetto #comandiFumetto, #fumettoLetto #comandiFumetto{
	float: right;
	text-align: right;
}


#fumetto #comandiFumetto img, #fumettoLetto #comandiFumetto img{
	float: right;
	text-align: right;
	border-style: none;
}

#formCerca{
	padding: 2px;
	border-color: red;
	margin-bottom: 5px;
	border-style: solid;
	background-color: silver;
}

#risultati{
	background-color: #76a3ff;
	padding: 2px;
	margin-bottom: 4px;
	border-style: solid;
	border-color: #ff0300;
	border-width: 1px;
}

#risultatiElenco{
	display: none;
}

#notifiche{
	float: right;
	display: inline;
	background-color: #ff0006;
	color: white;
}

#contenitoreCentrato{
	padding: 5px;
}

#scriviMessaggio text{
	width: 5em;
}